{# templates/index.html #}
{% extends 'layouts/base.html' %}

{% block content %}
  <!-- Form di analisi -->
  <form id="analyzeForm" class="row g-2 mb-4">
    <div class="col-md-5">
      <input id="url" type="text" class="form-control" placeholder="example.com" required>
    </div>
    <div class="col-md-3">
      <input id="username" type="text" class="form-control" placeholder="Username (opzionale)">
    </div>
    <div class="col-md-3">
      <input id="password" type="password" class="form-control" placeholder="Password (opzionale)">
    </div>
    <div class="col-md-1 d-grid">
      <button type="submit" class="btn btn-primary">Avvia</button>
    </div>
  </form>

  <!-- Loader -->
  <div id="loader" class="justify-content-center align-items-center mb-4" style="min-height: 100px; display: none;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Caricamento...</span>
    </div>
  </div>

  <!-- Contenuto tab -->
  <div class="tab-content">
    <div class="tab-pane fade show active" id="tab-overview">
      {% include 'includes/overview.html' %}
    </div>
    <div class="tab-pane fade" id="tab-performance">
      {% include 'includes/performance.html' %}
    </div>
    <div class="tab-pane fade" id="tab-seo">
      {% include 'includes/seo.html' %}
    </div>
    <div class="tab-pane fade" id="tab-accessibility">
      {% include 'includes/accessibility.html' %}
    </div>
    <div class="tab-pane fade" id="tab-security">
      {% include 'includes/security.html' %}
    </div>
    <div class="tab-pane fade" id="tab-perf-adv">
      {% include 'includes/perf_advanced.html' %}
    </div>
    <div class="tab-pane fade" id="tab-themes">
      {% include 'includes/themes.html' %}
    </div>
    <div class="tab-pane fade" id="tab-plugins">
      {% include 'includes/plugins.html' %}
    </div>
    <div class="tab-pane fade" id="tab-users">
      {% include 'includes/users.html' %}
    </div>
    <div class="tab-pane fade" id="tab-reports">
      {% include 'includes/reports.html' %}
    </div>
  </div>
{% endblock %}
